<div style="background-color: rgba(255, 255, 255, 0.85)" class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <h2>
    <%= link_to "easy streamin'", root_path %>
  </h2>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active m-3">
          <%= link_to "My Playlists", "/playlists" %>
        </li>
        <li class="nav-item m-3">
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li class="nav-item m-3">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
