<div class="jumbtron bg-primary text-center text-white">
<h1>Easy Streamin'</h1>
<p>Play all your favourite Spotify Playlists Online for free!</p>

<h2>How it works</h2>
<ul>
  <li>Make your playlist on your Spotify Free account</li>
  <li>Click on 'More -> Share -> Copy Embed Code'</li>
  <li>Make a free Easy Streamin' account</li>
  <li>Click on 'Add Playlist'</li>
  <li>Choose a name for your playlist and copy in the code from Spotify</li>
  <li>Done!</li>
</div>
