<div class="bg-linear text-center text-white">
  <h1 style="padding: 12px;">My Playlists</h1>
  <% if @playlists.length < 1 %>
    <div class="container my-5 py-5" style="height: 100vh">
      <h2>¯\_(ツ)_/¯</h2>
      <h2>No playlists to show</h2>
      <ul class="list-unstyled m-5">
        <li>Click on 'Add Playlist' above</li>
        <li>Go to your Spotify Desktop and click
          &nbsp; <code><i class="fas fa-ellipsis-h"></i> (More) </code>
          <i class="fas fa-arrow-circle-right"></i><code> Share </code>
          <i class="fas fa-arrow-circle-right"></i><code> Copy Embed Code</code>
        </li>
      </ul>
    </div>
  <% else %>
    <div class="row">
      <% @playlists.reverse.each do |playlist| %>
        <div style="padding: 8px 0; " class="col-lg-4 col-md-6 cold-sm-12">
          <div style="display: grid; grid-template-columns: 1fr 1fr 1fr">
            <div></div>
            <div>
              <h3>
                <%= playlist.name %>
              </h3>
            </div>
            <div>
              <%= link_to playlist_path(playlist), data: { confirm: "Delete #{playlist.name}?" }, method: :delete do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
          </div>
          <%=playlist.url.html_safe%>
        </div>
      <% end %>
    </div>
     <footer style="background-color:black;color:white; padding: 8px;" class="container-fluid text-right">
      Questions? Please
      <a href="mailto:simonwaltondev@gmail.com?subject=Easy Streamin Enquiry" target="_blank">
        get in touch
      </a>
    </footer>
  <% end %>
</div>
